<div id="content" class="app-content" role="main"
	ng-controller="PacoteManutencaoController as ctrl">
	<div class="box" ng-init="ctrl.init()">
		<div class="box-row">
			<div class="box-inner padding">
				<div class="card">
					<div class="card-heading">
						<h2>Incluir Pacote</h2>
					</div>
					<div class="card-body">

						<div class="form-group row">
							<div class="col-sm-4">
								<div>
									<label>Tipo de Compromisso</label> 
									<select
										ng-model="ctrl.nuTipoCompromisso" class="form-control">
										<option value="">Selecione...</option>
										<option
											ng-selected="ctrl.nuTipoCompromisso == item.nuTipoCompromisso"
											ng-repeat=" item in ctrl.dataTipoCompromisso | orderBy:'nuTipoCompromisso' "
											ng-value="item.nuTipoCompromisso">{{zeroEsquerda(item.nuTipoCompromisso,4)}}
											- {{item.nomeTipoCompromisso}}</option>

									</select>
								</div>
							</div>
							<div class="col-sm-4">
								<div>
									<label>Pacote Base</label>
									<select ng-model="ctrl.itemPacote" class="form-control">
										<option value="">Selecione...</option>
										<option ng-repeat="item in ctrl.dataPacote">
											{{zeroEsquerda(item.nuPacote, 9)}} - {{item.nomePacote}}
										</option> 
									</select>
								</div>
							</div>
						</div>

						<div class="form-group row">
							<div class="col-md-4">
								<div>
									<label for="nomePacote">Nome do Pacote</label> <input
										class="form-control form-control-lg" id="nomePacote"
										type="text" placeholder="" />
								</div>
							</div>
							<div class="col-md-4">
								<div>
									<label for="nomePacote">Data de Inclusão</label>
									<input class="form-control form-control-lg" id="dataCriacao"
										type="text"  value={{today}} disabled="disabled" />
								</div>
							</div>
						</div>
					</div>
				</div>
									
				<div class="card">
					<div class="card-heading">
						<h2>Serviços</h2>
					</div>
					<div class="card-body">

						<div class="tab-content" id="card-servicos">
							<div class="tab-pane fade active in" id="tab1" 
								aria-labelledby="home-tab">
								<div ng-include="'./pages/pacote/tab/tabServico.html'"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-heading">
						<h2>Tarifas dos Serviços</h2>
					</div>
					<div class="card-body">
						<div class="tab-content" id="card-tarifas">
							<div class="tab-pane fade active in" id="tab2"
								aria-labelledby="home-tab">
								<div ng-include="'./pages/pacote/tab/tabTarifa.html'"></div>
							</div>
						</div>
					</div>
				</div>

				<div class="card">
					<div class="card-heading">
						<h2>Lançamento de Histórico</h2>
					</div>
					<div class="card-body">
						<div class="tab-content" id="card-historico">
							<div class="tab-pane fade active in" id="tab3" 
								aria-labelledby="home-tab">
								<div ng-include="'./pages/pacote/tab/tabLancamentoHistorico.html'"></div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="card form-action">
					<button class="btn btn-fw waves-effect"
						ng-click="openViewPagina('pacote')">
						<i class="fa fa-arrow-left m-r-xs"></i> Voltar
					</button>
					<button class="btn btn-fw waves-effect" 
						ng-click="ctrl.consultCategoria(ctrl.nuTipoCompromisso, ctrl.pacote)">
						<i class="fa fa-lg fa-history">&nbsp;</i> <span>Limpar</span>
					</button>
					<button class="btn btn-fw btn-primary waves-effect">
						<i class="fa fa-edit m-r-xs"></i> Calcular
					</button>

				</div>
			
			</div>			
		</div>
	</div>
</div>

