<div id="content" class="app-content" role="main"
	ng-controller="SimuladorAprovarController">
	<div class="box">
		<div class="box-row">
			<div class="box-cell">
				<div class="box-inner padding">

					<div class="card">
						<div class="card-heading">
							<h2>Aprovar Simulador</h2>
						</div>
						<div class="card-body">

							<div>
								<div class="form-group row">

									<div class="col-sm-2">
										<label for="nomePacote">Área Gestora</label> <input
											class="md-input" type="text" placeholder="" />
									</div>

								</div>

								<div class="form-group row">
									<div class="col-sm-12">
										<tipo-Pessoa-Fisica-Juridica />
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-6">
										<label>CPF / CNPJ</label> <input type="text" class="md-input"
											maxlength="68" />
									</div>
								</div>
								<div class="form-group row">
									<div class="col-sm-2">
										<label for="nomePacote">Número da Simulação</label> <input
											class="md-input" type="text" placeholder="" />
									</div>
								</div>

								<div>
									<button id="btnConfirmar"
										class="btn btn-fw btn-success waves-effect bDow downloadB hidden-print"
										title="Consultar" data-toggle="tooltip" ng-click="listar()">
										<i class="fas fa-share-square m-r-xs"></i> Consultar
									</button>
								</div>
							</div>

							<div class="form-group row">
								<div class="col-md-12">
									<hr>
								</div>
							</div>
 
							<table class="table table-striped" st-table="displayDataFull"
								ng-show="dataFull != undefined && dataFull.length !=0"
								st-safe-src="dataFull">
								<thead class="theme-main-table-head">
									<tr class="bg-white hidden-print exclude">
										<th colspan="8">
											<div class="col-md-2 m-l-md-n">
												<div class="md-form-group">
													<select
														ng-options="option.name for option in pageOptions track by option.value"
														ng-model="itemsOnPage" class="md-input"></select> <label>Resultados
														por p&aacute;gina</label>
												</div>
											</div>
											<div class="col-md-2 pull-right m-r-md-n ">
												<div class="md-form-group">
													<input st-search class="md-input text-uppercase"
														type="text" maxlength="165" /> <label>Filtro</label>
												</div>
											</div>
										</th>
									</tr>

									<tr>
										<th class="text-left " st-sort="compromisso">Simulação</th>
										<th class="text-left " st-sort="tipopacote">Nome</th>
										<th class="text-left " st-sort="tipopacote">Tipo de
											Compromisso</th>
										<th class="text-left " st-sort="pacote">Status</th>
										<th class="col-xs-1 text-center exclude"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="row in displayDataFull ">
										<td>{{row.simulador}}</td>
										<td>{{row.compromisso}}</td>
										<td>{{row.tipopacote}}</td>
										<td>{{row.pacote}}</td>
										<td>
											<button ng-click="carregarTelaIncluirAlterarMotivo(row)"
												class="btn btn-icon-xs btn-icon btn-rounded btn-primary waves-effect"
												title="Alterar" tooltip-loader data-placement="left">
												<i class="fa fa-arrow-right fa-xs"></i>
											</button>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td colspan="8" class="text-center hidden-print exclude">
											<div st-pagination="" st-items-by-page="itemsOnPage.value"
												st-displayed-pages="7" class="pull-right"></div>
										</td>
									</tr>
								</tfoot>
							</table>


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>