
<div ng-init="start = 0; endIndex = 0">

	<!-- inicio servico -->
	<div ng-repeat="listaCategoria in ctrl.listaCategoriaFull"  ng-init="endIndex = endIndex+1">
	
		<div class="panel panel-default">
			
			<div class="panel-heading">
				<h4 class="panel-title">
					<a data-toggle="collapse" data-parent="#categora{{$index}}" data-target="#categora{{$index}}" >
						{{zeroEsquerda(listaCategoria.nuCategoria,4)}} - {{listaCategoria.deCategoria}} </a>
				</h4>
			</div>
 
			<div id="categora{{$index}}" ng-class="$index=='0' ? ' in': ''" class="panel-collapse collapse ">
				<div class="panel-body">  
					<div class="form-check"  ng-repeat="serv in listaCategoria.servicos | orderBy:'nuServico' "   ng-init="id = ctrl.addIndex()">
						<label class="el-switch" ng-show="serv.nuCategoria == '0001'"> 
							<input type="checkbox" 
						 	   ng-model="serv.icSelecionado" 
							   value="{{serv.nuServico}}"
						 	   ng-checked="serv.icSelecionado" 
							   ng-change="ctrl.validarCheck(serv, serv.nuCategoria); ctrl.validarServicoTarifa(serv)"> 
							<span class="el-switch-style">  </span>
						</label> 
						<label class="el-swradio" ng-show="serv.nuCategoria != '0001'">
							<input type="radio" name="categoria{{serv.nuCategoria}}"
						 	   ng-model="serv.icSelecionado" 
							   value="{{serv.nuServico}}"
						 	   ng-checked="serv.icSelecionado" 
							   ng-change="ctrl.validarCheck(serv, serv.nuCategoria); ctrl.validarServicoTarifa(serv)"> 
							<span class="el-swradio-style" for="radioServico{{$index}}">  </span>
						</label>
						<span class="margin-r">{{serv.deServico}} </span>
					</div>
				</div>
			</div>
			
		</div> 
	</div>
	
</div>

